
.m-form-body {
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 16;
}


/* form */
/* .m-form-body {
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
} */


/* form header */
.form-header {
    display: flex;
    margin: 16px 8px 8px 8px;
    justify-content: space-between;
}
.header-checkbox {
    display: flex;
    align-items: center;
}
div.header-checkbox > label:nth-child(2) {
    margin-right: 16px;
}

/* form header left */
.form-header .header-left {
    display: flex;
    align-items: center;
    margin-left: 22px;
    margin-top: 8px;
}

/* form header right */
.form-header .header-right {
    display: flex;
    margin-right: 16px;
}

.form-header .header-right > div {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-header .header-right > div .icon-btn-question {
    width: 22px;
	height: 22px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -89px -145px;
}

.form-header .header-right > div .icon-btn-close {
    width: 18px;
	height: 18px;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -147px -147px;
}


.form-header .form-title {
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 700;
    margin-right: 8px;
}


/* form content */
.form-content {
    margin: 0 30px;
    /* border-bottom: 1px solid #E0E0E0; */
    padding-bottom: 16px;
}

.form-content .form-control {
    margin-right: 8px;
}

/* form content top */
.form-content-top {
    display: flex;
    justify-content: space-between;
}

.form-content-topleft {
    margin-right: 24px;
}

.form-content-topleft .line-first {
    display: flex;
}

.form-content-topleft .line-second input,
.form-content-topleft .line-third input,
.form-content-topright .line-third input,
.form-content-buttom .buttom-line-first input {
    width: calc(100% - 4px)
}


.form-content-topright .line-first {
    display: flex;
}

.form-content-topright .line-second {
    display: flex;
}

/* input gender */
.gender {
    display: flex;
    align-items: center;
    height: 36px;
}

.gender div {
    margin-right: 6px;
    font-size: 14px;
}

.input-radio {
    margin-right: 5px; 
    width: 20px;
    height: 20px;
  }


/* form content buttom */


.form-content-buttom .buttom-line-second {
    display: flex;
}

.form-content-buttom .buttom-line-third {
    display: flex;
}

.form-footer-right {
    display: flex;
    flex-direction: row-reverse;  
    column-gap: 4px;  
}

.form-footer {
    display: flex;
    padding: 16px 30px;
    justify-content: space-between;
    flex-direction:row;
    /* background-color: #E0E0E0; */
}

.form-label span {
    color: red;
}

.form-label--required {
    color: red;
}

.control__text--error {
    display: none;
    color: #ff0000;
}

/* Định dạng tooltip */


.form-group:hover .toolTip{
    visibility: visible;
}


.toolTip {
    position: absolute;
    /* Thêm các thuộc tính CSS bạn muốn cho tooltip */
    background-color: #F1F2F3;
    color: #9EA0A5;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    bottom: 73%;
    left: 58%;
}


